.board {
    padding : 20px;
}

.formSection,
.listSection {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.board h2 {
    text-align: center;
}

.formSection h3,
.listSection h3 {
    margin-bottom: 20px;
    text-align: center;
}
